<!doctype html>
<html class="no-js fixed-layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PizzaHub</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="stylesheet" href="assets/css/sudoku.css">



</head>

<body>
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <strong>可视化轻量级Web服务聚合器</strong> <small>  PizzaHub</small>
        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}">
            <span class="am-sr-only">导航切换</span>
            <span class="am-icon-bars"></span>
        </button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">

<!--                 <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                <span></span> 读取屏幕 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                <li><input type="text" class="am-form-field loadscreenname" placeholder="记录名称" style="border:10px;"></li>
                <li><a class = "loadscreen" href="#"><span ></span> 读取</a></li>
                </ul>
                </li>  
                <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                <span></span> 保存屏幕 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                <li><input type="text" class="am-form-field screensavename" placeholder="记录名称" style="border:10px;"></li>
                <li><a class="savecreen" href="#"><span ></span> 保存</a></li>
                </ul>
                </li>  -->
            </ul>
        </div>
    </header>

    <div class="am-cf admin-main">
        <!--侧边栏-->
        <div class="menu-wrap" id="menu-list">
            <div class="am-form-group-sm menu-search " id="searchbat">
                <input id="searchinput" class="am-input-sm" type="text" name="searchbar" placeholder="请输入你要搜索的组件名称     " autocomplete="on"
                    style="padding-right: 30px">
                <button id="searchstart" type="submit" class="am-btn-xs">搜索</button>
            </div>

            <% var listnum = 3; for(var p in servlib){  listnum++; var listshow = "list"+listnum; %>
                <div class="library-section" role="tablist">
                    <h2 class="menu-header" data-am-collapse="{target: '#<%= listshow %>'}">
                   <%= p %>
                    <span class="am-icon-angle-right am-fr am-margin-right"></span>
                </h2>
                    <div class="library-content " role="tabpanel" style="display:block">
                        <ul class="am-list am-collapse admin-sidebar-list" id='<%= listshow %>'>
                            <% var servarray = servlib[p];%>
                                <% for(var i=0;i<servarray.length;i++ ){ %>
                                    <div class="library-module dragicon" draggable="true" ondragstart="drag(event)">
                                        <% if( ((servarray[i]).info).icon != "" ) {%>
                                            <div class="serv-img isNative" style="background-image:url('assets/image/icons/<%= ((servarray[i]).info).icon %>');background-position: 0px 0px;margin: 0 auto;"></div>
                                            <% }else{ %>
                                                <div class="serv-img isNative"></div>
                                                <% } %>
                                                    <h3 class="serv-name" title="<%= ((servarray[i]).info).description %>"><%= (servarray[i]).name %></h3>
                                                    <div style="display : none" title="<%= ((servarray[i])).url %>"></div>
                                    </div>
                                    <% } %>
                        </ul>
                    </div>
                </div>
                <% } %>


                    <button class="close-button " id="close-button">Close Menu</button>
        </div>
        <button class="menu-button" id="open-button">Open Menu</button>

        <!--九宫格布局-->
        <div class="admin-content">
            <!--<div class="admin-content-body"  ondrop="drop(event)" ondragover="allowDrop(event)">-->
            <div class="admin-content-body" ">
                
                    <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-thumbnails pizzahub ">
                        <li class="brick " id="test0" ondrop="drop(event) " ondragover="allowDrop(event) " ondragstart="dragstart(event) ">
                                <%- servinfo%>
                            <!--<img class="am-thumbnail "src="http://s.amazeui.org/media/i/demos/bing-5.jpg " />-->
                            <a class='delete' href='#'>&times;</a>
                        </li>
                        <!-- 在div上打点 -->
                        <li class="brick "  title="a " ondrop="drop(event) " ondragover="allowDrop(event)" ondragstart="dragstart(event) " >
                        	<div class="am-thumbnail shadow " id="hightchartsdiv" style="width:100%;height:180px;overflow:auto;overflow-y:hidden">
                        		 <!--<canvas id="test1" class="am-thumbnail" style="background-image:url('/assets/image/map.jpg');background-size:cover; height:180px" ></canvas>-->
                            	
                        	</div>
                        	<a class='delete' href='#' ">&times;</a>
                        </li>

                        <!-- 在canvas上打点 -->
                        <li class="brick "  title="a " ondrop="drop(event) " ondragover="allowDrop(event)" ondragstart="dragstart(event) " >
                        	<div class="am-thumbnail " id="div1" style="overflow:auto;overflow-y:hidden;height:180px">
                        		 <canvas id="test1" class="am-thumbnail" style="background-image:url('/assets/image/map.jpg');background-size:cover; height:180px" ></canvas>
                        	</div>
                        	<a class='delete' href='#' ">&times;</a>

                        </li>
												<!-- 分割线 -->
<!-- 图片大小固定 -->
                        <li class="brick" id="test2"  title="b" ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="dragstart(event)" >
                            <div style="overflow:auto;overflow-y:hidden;height:180px;position: relative;">
                                <div class="am-thumbnail shadow" >
                                    <img style="left: 15px; top: 15px; width:15px; height:15px;position:absolute" src="\assets\image\cat.png"/>
                                     <img style="left: 250px; top: 35px; width:15px; height:15px;position:absolute" src="\assets\image\cat.png"/>
                                    <!--在前面插入点-->
                                    <img class="backimg" style="max-width: initial;" src="\assets\image\map.jpg"/>
                                </div>
                            </div>
                                <a class='delete' href='#' ">&times;</a>
                        </li>
<!-- /图片大小固定 -->
                        <li class="brick" id="test3"  title="b" ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="dragstart(event)">
                            <img class="am-thumbnail shadow" src="\assets\image\湿度.jpg" />
                            <a class='delete' href='#' ">&times;</a>
                        </li>
                        <li class="brick "  id="test4"  title="c " ondrop="drop(event) " ondragover="allowDrop(event)" ondragstart="dragstart(event) ">
                                <img class="am-thumbnail shadow " src="\assets\image\交通.jpg " />
                                <a class='delete' href='#' ">&times;</a>
                        </li>

                </ul>

            </div>

        </div>
        <!-- content end -->

    </div>

 <footer class="footer">
    <p>© 2016 <a href="http://www.xxxxxx.com" target="_blank">北京邮电大学-- </a> <a href="http://www.xxxxx.com" target="_blank">可视化轻量级服务聚合器</a>. by BUPT-MCSC.</p>
</footer>

    <script src="assets/js/jquery.min.js"></script>
    <!--<![endif]-->
    <script src="assets/js/socket.io.js"></script>
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/menu.js"></script>
    <script src="assets/js/alittletrick.js"></script>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=tFyMXdnWBGgIk4i6OSPzdSQ1Ytgfj1jQ"></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script> 

    <script src="assets/js/drawDot.js"></script>
    <script src="assets/js/chartaction.js"></script>
    <script src="assets/js/drag&Drop.js"></script>


</body>

</html>