<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">


    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>-->

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="brand" href="#">Services Library</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Logged in as <a href="#" class="navbar-link">Username</a>
                </p>
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">MENU</li>
                    <li class="active serviceli"><a href="#">Service Prototype</a></li>
                    <li class="entityli"><a href="#">Service Entity</a></li>
                    <li calss="projectli"><a href="#">Project</a></li>
                    <!--<li><a href="#">Link</a></li>-->
                    <!--<li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>-->
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            <div class="hero-unit menutab">
                <p>
                    <a href="#" class="btn addnew"><i class="icon-plus-sign"></i> New</a>
                    <a href="#" class="btn refreshlist"><i class="icon-refresh"></i> Refresh</a>
                    <a href="#" class="btn btn-success submitbtn"  style="display: none;"><i class="icon-check"></i> Save</a>
                    <a href="#" class="btn btn-danger cancebtn"  style="display: none;"><i class="icon-remove-circle"></i> Cancer</a>
                </p>
            </div>
            <div class="hero-unit menutab newentity" style="display: none;">
                <table class="table table-striped" border="1">
	            	<thead>
                        <tr><th colspan="4">new entity</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>name:</td>
                            <td><input type="text" /></td>
                            <td  colspan="2">info:</td>
                        </tr>                    
                        <tr>
                            <td>service:</td>
                            <td><input type="text" /></td>
                            <td>author:</td>
                            <td><input type="text" /></td>
                        </tr>                    
                        <tr>
                            <td>src:</td>
                            <td><input type="text" /></td>
                            <td>descript:</td>
                            <td><input type="text" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="hero-unit menutab">
                <table class="table table-striped serviceinfotab">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th> </th>
                            <th>title</th>
                            <th>supplier</th>
                            <th>status</th>
                            <th>operate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0;i < serverinfo.length; i++){ %>
                            <tr>
                                <td style=" padding-top: 20px; ">
                                    <%= i %>
                                </td>
                                <td>
                                     <img src="assets/image/icons/<%= ((serverinfo[i]).icon) %>"/>
                                </td>
                                <td style=" padding-top: 20px; ">
                                    <a href=<%- '"' %><%= '/serverlist/'+(serverinfo[i]).name+ '' %><%- '"' %>  title = "<%= (serverinfo[i]).author %>  <%= (serverinfo[i]).description %>">
                                                <%= (serverinfo[i]).category %>/<%= (serverinfo[i]).title %>
                                    </a>
                                </td>
                                <td style=" padding-top: 20px; ">
                                    <%=  (serverinfo[i]).supplier %>
                                </td>
                                <td style=" padding-top: 20px; ">
                                    <span style="color:#88c773; "><%=  (serverinfo[i]).status %></span>
                                </td>
                                <td style=" padding-top: 20px; padding-left: 20px;">
                                	<a href="www.baidu.com" title="edit"><i class="icon-pencil"></i></a>
                                    <a href="#" title="delete"><i class="icon-trash"></i></a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>                
                <table class="table table-striped entityinfotab" style="display: none;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>entity</th>
                            <th>author</th>
                            <th>service</th>
                            <th>operate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0;i < entitiesinfo.length; i++){ %>
                            <tr>
                                <td style=" padding-top: 20px; ">
                                    <%= i %>
                                </td>
                                <td style=" padding-top: 20px; ">
                                    <a href=<%- '"' %><%= '/servicelib/entity/'+(entitiesinfo[i]).UID+ '' %><%- '"' %> title = "<%= (entitiesinfo[i]).descript %>">
                                                <%= (entitiesinfo[i]).entityname %>
                                    </a>
                                </td>
                                <td style=" padding-top: 20px; ">
                                    <%=  (entitiesinfo[i]).author %>
                                </td>
                                <td style=" padding-top: 20px; ">
                                    <%=  (entitiesinfo[i]).prototypeservice %>
                                </td>
                                <td style=" padding-top: 20px;  padding-left: 20px;">
                                	<a href="www.baidu.com" title="edit"><i class="icon-pencil"></i></a>
                                    <a href="#" title="delete"><i class="icon-trash"></i></a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <!--/span-->
        <hr>

        <footer>
            <p>&copy; Company 2013</p>
        </footer>

    </div>
    <!--/.fluid-container-->